* {
    font-weight: 800;
    
}

body {
    background-image: url(../random_grey_variations/random_grey_variations.png);
    overflow-x: hidden;
}

.link{
    position: relative;
    left: 43%;
    margin-bottom: 5px;
}

.topic {
    text-align: center;
    margin: 2px;
    position: relative;
    bottom: 55px;
    border-radius: 40px;
    font-family: impact;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;

}

.jumbotron {
    font-family: 'Amatic SC', cursive;
}

.text{
    position: relative;
    left: 35%;
}

header{
    
    text-align: center;
    color: lightyellow;
    font-family: 'Amatic SC', cursive;
}

.rounded {
    border-radius: 30px;
}

.topRow {
    margin-top: 5%;
}

.search {
    border-radius: 30px;
    font-family: 'Amatic SC', cursive;
}

.buttons {
    border-radius: 30px;
    font-family: 'Amatic SC', cursive;
}

.stillGif
{
    border-radius: 15%;
    display: block;
    text-align: center;
    position: relative;
    left: 25%;
}

.gifs p{
    text-align: center;
    margin:0;
}
